.mid-content, .bottom-content {
    width: 100%;
    padding: 1rem;
    background: hsl(0, 0%, 95%);
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}