main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 98%);
}
.text-container {
    width: 50%;
    min-width: min-content;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2, h3 {
        font-size: 4rem;
        padding: 1rem 0;
    }
}
.background-container {
    width: 60%;
    height: 100%;
    top: 0;
    right: -15%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bg-intro-desktop, #phone-images {
    width: 100%;
    height: 100%;
    position: absolute;
}
@media(max-width: 750px) {
    main {
        margin-top: $headerHeight;
    }
    .top-content {
        flex-direction: column-reverse;
    }
    .text-container {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 3rem 0;
    }
    .background-container {
        position: inherit;
        width: 100%;
        height: 500px;
    }
}