// 1. mixins
// 2. header
// 3. top-content
// 4. mid-content

// 1. mixins
@mixin cneter-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin image {    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

// 2. header
@import "./styles/header";

// 3. top-content
@import "./styles/top-content";

// 4. mid-content
@import "./styles/mid-content";
