<header>
  <app-logo></app-logo>
  <input id="hamburger">
  <nav>
    <a 
    *ngFor="let link of links"
    href="#">{{link}}</a>
  </nav> 
  <app-pill-button [text]="'Request Invite'" ></app-pill-button>
</header>
<main>
  <section class="top-content">
    <div class="text-container">
      <h2>Next generation digital banking</h2>
      <p>
        Take your financial life online. Your Easybank account will be a one-stop-shop 
        for spending, saving, budgeting, investing, and much more.
      </p>
      <app-pill-button 
      [text]="'Request Invite'"
      ></app-pill-button>
    </div>
      <div id="bg-intro-desktop">
        <div id="phone-images"></div>
      </div>
  </section>
  <section class="mid-content">
    <div class="text-container">
      <h2>Why choose Easybank?</h2>
      <p>We leverage Open Banking to turn your bank account into your financial hub. Control 
        your finances like never before.</p>
    </div>
    <ul>
      <app-feature-card
      *ngFor="let feature of features"
      [feature]="feature"
      ></app-feature-card>
    </ul>
  </section>
  <section class="bottom-content">
    <div class="text-container">
      <h2>Latest Articles</h2>
    </div>
    <ul>
      <app-article-card
      *ngFor="let article of articles"
      [article]="article"
      ></app-article-card>
    </ul>
  </section>
  <footer>
    <div class="logo-container">
      <app-logo [color]="'white'"></app-logo>
      <div class="logos">
        <img 
        *ngFor="let img of images"
        src="{{img}}">
      </div>
    </div>
    <nav>
      <a 
      *ngFor="let link of footerLinks"
      href="#">{{link}}</a>
    </nav>
    <aside>
      <app-pill-button [text]="'Request Invite'"></app-pill-button>
      <span>© Easybank. All Rights Reserved</span>
    </aside>
  </footer>
</main>