// 1. mixins
// 2. header
// 3. section 1

// 1. mixins
@mixin cneter-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin image {    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

// 2. header
@import "./styles/header";

// 3. section 1
@import "./styles/section1";
